<div class="row mt-5">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header cardHeaderBg">Student Form</div>
      <div class="card-body">
        <form #studentForm="ngForm">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" name="sName" [(ngModel)]="studentObj.name">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="form-group">
                <label for="">Date of Birth</label>
                <input type="date" class="form-control" name="dateofBirth" [(ngModel)]="studentObj.dob">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="form-group">
                <label for="">Email Address</label>
                <input type="email" class="form-control" name="emailID" [(ngModel)]="studentObj.email">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="form-group">
                <label for="">Contact Number</label>
                <input type="number" class="form-control" name="phoneNo" [(ngModel)]="studentObj.contactNo">
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-3">
                <div class="form-group">
                  <label for="">Gender</label>
                  <select class="form-control" name="Gender" [(ngModel)]="studentObj.gender">
                    <option *ngFor="let gen of _gender" > {{gen}} </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-3">
                <div class="form-group">
                    <label for="">Course</label>
                    <select class="form-control" name="course" [(ngModel)]="studentObj.course">
                      <option *ngFor="let course of _courses" > {{course}} </option>
                    </select>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="form-group">
                    <label for="">Course Duration</label>
                    <select class="form-control" name="cDuration" [(ngModel)]="studentObj.courseDuration">
                      <option *ngFor="let cD of _courseDur" > {{ cD }} </option>
                    </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="">Address</label>
                    <textarea cols="30" rows="2" class="form-control" name="add" [(ngModel)]="studentObj.address"></textarea>
                </div>
              </div>
          </div>
          <div class="row d-flex justify-content-end">
            <button class="btn btn-sm btn-success" (click)="saveStudentDetails()">Save Student Detail</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-4 col-md-4">
    <div class="card">
      <div class="card-header">All Students</div>
      <div class="card-body">
          <div class="row border m-2 pt-2" *ngFor="let student of students" (click)="studentFullDetail(student)">
            <div class="col-lg-4 col-md-4 col-sm-4">
              <img src="../../assets/images/avtar.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
              <h3>{{student.name}}</h3>
              <h6>{{student.dob}}</h6>
              <h6>{{student.course}}</h6>
              <h6>{{student.address}}</h6>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">View Full Detail</div>
      <div class="card-body">
        <div class="row" *ngIf="isIndividualStudentObjEmpty === false">
          <div class="col-lg-4">
              <img src="../../assets/images/avtar.jpg" alt="" class="img-fluid imgFullPage">
          </div>
          <div class="col-lg-8">
            <h1> <i class="fa fa-user-o" aria-hidden="true"></i> {{individualStudent.name}} </h1>
            <p> <i class="fa fa-calendar" aria-hidden="true"></i> {{individualStudent.dob}} </p>
            <p> <i class="fa fa-envelope" aria-hidden="true"></i> {{individualStudent.email}} </p>
            <p> <i class="fa fa-mobile" aria-hidden="true"></i> {{individualStudent.contactNo}} </p>
            <p> <i class="fa fa-certificate" aria-hidden="true"></i> {{individualStudent.course}} </p>
            <p> <i class="fa fa-clock-o" aria-hidden="true"></i> {{individualStudent.courseDuration}} </p>
          </div>
          <div class="col-lg-12 d-flex justify-content-end">
            <button class="btn btn-sm btn-dark"> <i class="fa fa-pencil"></i> </button>
            <button class="btn btn-sm btn-danger ml-2"> <i class="fa fa-trash"></i> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>